.text-left {
  text-align: left;
}

.text-center {
  text-align: center;
}

.text-right {
  text-align: right;
}

/* atomic-block alignment */
.atomic-center {
  align-items: flex-start;
  justify-content: center;
  display: flex;
}

.atomic-left,
.atomic-right {
  clear: both;
}

.atomic-left .image-wrapper {
  float: left;
  margin-right: 5px;
}

.atomic-right .image-wrapper {
  float: right;
  margin-left: 5px;
}
