.isActive {
  margin-right: 5px;
  border: none;
  border-radius: 3px;
  padding: 6px 12px;
  background-color: #4c54e4;
  color: #fff;
}

.alignment-button {
  margin-right: 5px;
  border: none;
  border-radius: 3px;
  padding: 6px 12px;
}
