$editorColor: #f0f0f0;
$buttonTextColor: #333;
$border-color: #d9d9d9;

.text-editor-toolbar {
  padding: 5px;
  background: $editorColor;
  color: $buttonTextColor;
  border-bottom: 1px solid darken($border-color, 5%);
  position: fixed;
  width: 728px;
  //z-index: 3;
  top: 0;
}

.text-editor-button {
  position: relative;
  height: 27px;
  display: inherit;
  justify-content: center;
  align-items: center;
  min-width: 27px;
}

.text-editor-button,
.button-selector {
  &:hover {
    cursor: pointer;
    background: darken($editorColor, 5%);
    border: 1px solid $border-color;
  }
}

.button-group {
  border: 1px solid $border-color;
  padding: 0 2px;
  border-top: none;
  border-bottom: none;
  display: inline-flex;
}

.button-selector {
  min-width: 15px;
  display: inline-flex;
  align-items: center;
  justify-content: center;
}

/* Button Toggle */
.button-toggle {
  display: inline-flex;
  position: relative;
}

.button-select {
  position: absolute;
  z-index: 3;
  background: transparent;
  border: 1px solid #d9d9d9;
  min-height: 35px;
  top: 100%;
  left: 0;
  display: flex;
  flex-direction: column;
  align-items: center;
  right: 0;
}

.button-option {
  background: rgba(255, 255, 255, .9);
}

.button-option,
.button-toggle .text-editor-button {
  padding: 5px;
  width: 100%;
  &:hover {
    color: #fff;
    cursor: pointer;
    background-color: rgba(52, 159, 255, .9);
    text-shadow: 0 0 1px #4c4c4c;
  }
}

.button-option:not(:last-of-type) {
  border-bottom: 1px solid darken(#fff, 5%);
}

.selected-option .button-option {
  border: 1px solid $border-color;
}

.selected-option .button-option {
  height: 25px;
  display: inline-flex;
  justify-content: center;
  align-items: center;
  min-width: 35px;
  background: #fff;
  border-right: none;
  &:hover {
    color: #fff;
    cursor: pointer;
    background-color: #349fff;
    text-shadow: 0 0 1px #4c4c4c;

  }
}

.button-toggle .text-editor-button,
.button-toggle .button-selector {
  border: 1px solid $border-color;
}

.button-group + .button-group {
  border-left: none;
}

.button-select {
  border-top: none;
}

.button-toggle.hide-options .button-select {
  display: none;
}

.modal {
  position: fixed;
  z-index: 1000;
  background: rgba(0, 0, 0, 0.4);
  top: 0;
  bottom: 0;
  left: 0;
  right: 0;
  display: flex;
  align-items: center;
  justify-content: center;
  cursor: initial;
}

.modal-contents {
  display: flex;
  flex-direction: column;
  background: #fff;
  min-width: 450px;
  min-height: 300px;
}

.modal-header {
  display: flex;
  align-items: center;
  h2 {
    flex: 1;
    font-size: 20px;
    padding: 5px;
    margin: 0;
  }
  .fa {
    font-size: 25px;
    padding: 5px;
    &:hover {
      cursor: pointer;
      color: #b30000;
    }
  }
}

.modal-contents .modal-body {
  flex: 1;
}

.modal-contents .modal-header,
.modal-contents .modal-body,
.modal-contents .modal-footer {
  padding: 10px 20px;
  border-bottom: 1px solid $border-color;
}

.modal-contents .modal-footer {
  button {
    padding: 5px 10px;
    border: none;
    min-width: 45px;
    margin-left: 5px;
  }
  button.success {
    background-color: #2d8ac7;
    padding: 5px 15px;
    border: none;
    color: #fff;
  }
  button.cancel {
    background: #f0f0f0;
  }
}

.modal-input-group {
  display: flex;
  align-items: center;
  font-size: 16px;
  padding: 10px 0;

  span {
    flex: 1;
  }

  input[type="text"],
  input[type="file"],
  select {
    width: 270px;
    padding: 5px;
    height: 35px;
  }
}

