body {
  background: #222;
  background-color: #000;
  background-image: url(https://www.transparenttextures.com/patterns/bright-squares.png);
  background-attachment: fixed;
}

.text-editor-component {
  border: 1px solid #ccc;
  position: relative;
  max-width: 730px;
  margin: 0 auto;
}

.text-editor-component img {
  max-width: 100%;
  height: auto;
}

.text-editor {
  padding: 5px;
  min-height: 200px;
  background: #fff;
}